* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

/* Utils */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* @ HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#top-navbar ul {
    display: flex;
    list-style: none;
    align-items: stretch;
}

#top-navbar ul li {
    padding: 0rem 1rem;
    align-self: stretch;
}

#top-navbar ul li :hover {
    color: #0c7cec;
    border-bottom: 5px solid #0c7cec;
}