* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Utils */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.d-flex {
    display: flex;
}

.bg-grey {
    background-color: #303030;
}

.bg-dark-grey {
    background-color: #1c1c1c;
}

.bg-dark-blue {
    background-color: #0282f9;
}

/* @ HEADER */

header {
    justify-content: space-between;
    align-items: center;
}


#top-navbar ul li {
    padding: 0rem 1rem;
}

#top-navbar ul li a {
    color: black;
    font-weight: 700;
}

#top-navbar ul li :hover {
    color: #0c7cec;
    border-bottom: 5px solid #0c7cec;
}

#top-navbar ul li a.active {
    color: #0c7cec;
    border-bottom: 5px solid #0c7cec;
}

/* @ MAIN */

#jumbotron {
    background-image: url(assets/img/jumbotron.jpg);
    background-size: cover;
    height: 500px;
}

#product-section {
    color: white;
    padding-bottom: 2rem;
}

#product-section span {
    padding: 0.5rem 1rem;
    font-weight: 600;
}

#product-section ul {
    justify-content: space-between;
    flex-wrap: wrap;
}

#product-section ul li {
    flex-basis: 15%;
    margin-top: 1rem;
    padding: 1.2rem;
}

#product-section button {
    padding: 0.5rem 2rem;
    color: white;
    display: block;
    margin: 0 auto;
}

.product-card {}

.product-card img {
    object-fit: cover;
    margin-bottom: 1rem;
    width: 200px;
    height: 220px;
}

.product-card :hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.product-card h3 {
    font-size: small;
}

#main-bt-nav {
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    position: relative;
    z-index: 2;
}

#main-bt-nav li {
    align-items: center;
    margin-right: 4rem;
}

#main-bt-nav li a {
    color: white;
}

#main-bt-nav img {
    object-fit: contain;
    width: 50px;
    height: 50px;
    padding: 0.2rem;
    margin-right: 1rem;
}

/* @ FOOTER */

footer {
    background-image: url("assets/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#footer-nav {
    justify-content: space-between;
}

#footer-nav figure img {
    position: absolute;
    top: 1370px;
    right: 159px;
    z-index: 0;
}

#footer-nav section {
    padding: 1rem 0rem;
}

#footer-nav a {
    color: white;
    font-size: small;
}

#footer-nav h4 {
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#footerLinks section {
    padding: 1rem;
}

#footer-btm-nav-bg {
    position: relative;
    z-index: 1;
}

#footer-bottom-navbar {
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    position: relative;
    z-index: 1;
}

#footer-bottom-navbar h4 {
    color: #0c7cec;
}


#footer-btn {
    color: white;
    border: 2px solid #008aff;
    background-color: #303030;
    padding: 0.8rem 0.5rem;
}

#footer-social {
    align-items: center;
}

#footer-social i {
    padding: 6px 8px;
    background-color: #797979;
    border-radius: 50%;
    margin: 0rem 0.5rem;
}