* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Utils */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.d-flex {
    display: flex;
}

/* @ HEADER */

header {
    justify-content: space-between;
    align-items: center;
}

#top-navbar ul li {
    padding: 0rem 1rem;
}

#top-navbar ul li a {
    color: black;
    font-weight: 700;
}

#top-navbar ul li :hover {
    color: #0c7cec;
    border-bottom: 5px solid #0c7cec;
}

/* @ FOOTER */

footer {
    background-image: url("assets/img/footer-bg.jpg");
}

#footer-nav {
    justify-content: space-between;
    padding: 3rem 0rem;
}



#footer-nav a {
    color: white;
    font-size: small;
}

#footer-nav h4 {
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#footerLinks section {
    padding: 1rem;
}